@model System.Collections.Generic.List<LibraryClient.Models.Customer>

@{
ViewData["Title"] = "Customers";
}

<h2>Customers Overview</h2>

<a asp-action="Create" asp-controller="Customers" class="btn btn-outline-primary">New Customer</a>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    @foreach(var item in Model.OrderBy(m => m.Id))
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.FirstName @item.LastName</td>
        <td class="d-flex gap-2">
            <a asp-action="Details" asp-controller="Customers" asp-route-id="@item.Id" class="btn btn btn-outline-secondary">Details</a>
            <a asp-action="Edit" asp-controller="Customers" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
            <a asp-action="Delete" asp-controller="Customers" asp-route-id="@item.Id" class="btn btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>